<section class="hero has-background-link is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title pacifico large-text">
        CarPark
      </h1>
      <div class="column field is-half is-offset-one-quarter">
        <p class="control">
          <input class="input is-primary" type="text" placeholder="Nome">
        </p>
        <br>
        <p class="control has-icons-left">
          <input class="input is-primary" type="email" placeholder="E-mail">
          <span class="icon is-medium is-left">
            <i class="fa fa-envelope"></i>
          </span>
        </p>
        <br>
        <p class="control has-icons-left">
          <input class="input is-primary" type="password" placeholder="Senha">
          <span class="icon is-small is-left">
            <i class="fa fa-lock"></i>
          </span>
        </p>
        <br>
        <p class="control has-icons-left">
          <input class="input is-primary" type="password" placeholder="Repetir Senha">
          <span class="icon is-small is-left">
            <i class="fa fa-lock"></i>
          </span>
        </p>
        <br>
        <p>
          <a routerLink="/" class="button is-primary is-inverted is-outlined is-large">Cadastrar</a>
          <br>
          <br>
          <a routerLink="/" class="button is-link is-fullwidth">Voltar para a tela de Login</a>
        </p>
      </div>
    </div>
  </div>
</section>
