<app-headbar></app-headbar>

<section class="section">
  <div class="container">
    <h2 class="subtitle">
      Seja muito bem vindo ao <strong>Estacionamento CarPark</strong>, Escolha a opção
      desejada no menu.
    </h2>
    <div class="columns">
      <div class="column"><img src="https://picsum.photos/400?grayscale&random=1" alt="Foto1"></div>
      <div class="column"><img src="https://picsum.photos/400?grayscale&random=2" alt="Foto2"></div>
      <div class="column"><img src="https://picsum.photos/400?grayscale&random=3" alt="Foto3"></div>
    </div>
  </div>
</section>

<app-footer></app-footer>
